

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    background-image: url(../images/Hero-bg.png);
}

/* button style */
.btn{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    
}

/*nav style*/
nav{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

/*banner style*/
.banner_title{
    font-size: 65px;
    font-weight: 800;
}
.banner_title{
    
    text-align: center;
    padding: 100px 200px;
    color: #252432;
}
.banner_btn{
    
     background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin: 0px 550px;
    
}
/*third part*/
.third{
    display: flex;
    margin: 50px 50px;
    justify-content: space-between;
}
.third_title{
    color: #252432;
    font-size: 45px;
    font-weight: bold;
}
.third_ptext{
    color: #252432;
    font-size: 20px;
}
.third_p{
    width: 403px;
    border-radius: 25px;
}

/*fourth part*/
.fourth_ti{
    color: #252432;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.fourth{
    background-color: #dddddf;
    margin: 50px 50px;
    padding: 25px 50px;
}
.fourth_items{
    display: flex;
    justify-content: space-around;
     padding: 0px 110px;
   
}
.fourth_item_h2{
    color: #4E47FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    
}
.fourth_item_pera{
    color: #858383;
    font-size: 12px;
}

/*fifth part*/
.fifth{
    margin: 0px 50px;
}
.designers_contener{
    display: flex;
    justify-content: space-around;
}
.fifth_ti{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}
.designers_contener{
    background-color: #F2EDED;
    padding: 0px 5px;
}
.desiner_title{
    color: #252432;
    font-size: 20px;
    font-weight: bold;
}
.desiner_detais{
    font-size: small;
    color: #353232;
}
.fifth_img2{
    display: flex;
    padding-top: 5px;
}
.input{
    
    color: #858383;
    border: none;
}

/*sixth part*/
.sixth{
    text-align: center;
    margin: 80px 50px;
}
.sixth_ti{
    color: #252432;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
}
.sixth_pera{
    color: #858383f;
    font-weight: 200;
    font-size: 15px;
}
.sixth_btn{
      background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin: 10px 500px;
    
}
.sixth_img{
    width: 840px;
    height: 365;
    border-radius: 20px;
}